version: 0.0.{build}-rc1
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
  - master
clone_depth: 1
image: Visual Studio 2017
build_script:  
- dotnet build -c Release
- dotnet pack -c Release
test:
  assemblies:
    - '**\*tests.dll'
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'
nuget:
  disable_publish_on_pr: true
artifacts:
- path: '**\*.nupkg'
  name: NuGet
deploy:
- provider: NuGet
  api_key:
    secure: i3HbKROh7I2sLE2/SDDrMPfnn/93iBe2jVxLqDpysP8H7yTvIXwDyEkuljAAKmww
  skip_symbols: false
  on:
    branch: master